/* styles.css
Amina Dieng */

html {
    height: 100%;
    overflow-y: scroll;
}

body {

	height: 100%;
	font-weight: lighter;
    margin: 0;
    padding: 0;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	letter-spacing: 1px;
	word-spacing: 2px;
	background-color: #5EA8A7;
}

h1 {
	font-variant: small-caps;
  	letter-spacing: 3px;
  	word-spacing: 2px;
}

p {
	font-size: 18px;
}

ul {
	padding-bottom: 4%;
}

li {
	font-size: 15px;	
}

img {
	height: 410px;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: #ff4447;
	text-decoration: underline;
	cursor: pointer;
}

.row {
	float: left;
	width: 100%;
	height: 40%; 
	display: flex;
}

.column {
	position: absolute;
	flex-direction: row;
}

.side-panel {
	float: left;
	width: 25%;
	position: relative;
  	border-right: 7px double #257985;
  	border-bottom: 7px double #257985;
  	border-top: 7px double #257985;
    padding-top: 5%;
    font-variant: small-caps;
  	letter-spacing: 3px;
  	word-spacing: 2px;
  	text-align: center;
  	background-color: #f0eff0;
}

.stage {
	float: right;
	width: 75%;

	font-size: 27px;
	padding: 3% 10% 0 10%;
}

.job-title {
	font-weight: 400;
	font-size: 18px;
}

.job-date {
	font-weight: 300;
	font-size: 15px;
}

#container {
	float:left;
    width:100%;
}

#home {
	font-variant: small-caps;
  	letter-spacing: 3px;
  	word-spacing: 2px;
  	text-align: center;
  	padding: 3% 0 1% 0; 
	border: 3px solid #257985;
	background-color: rgba(255,255,255,0.93);
}

#resume {
	background-color: rgba(255,255,255,0.93);
	letter-spacing: 0px;
	line-height: 25pt;
	font-weight: 100;
	padding: 7%;
	margin: 7%;
	border: 3px solid #257985;
}

#rez-head {
	text-align: center;
	font-size: 27px;
}

#rez-ed {
	font-size: 27px;
}

#rez-body {
	padding: 3% 0 3% 0;
	line-height: 12pt;
}

#extra {
	font-size: 15px;
	margin-bottom: -2%;
	line-height: 0;
}

#act {
	font-weight: 530;
}

#lang {
	
}

#bio {
	background-color: rgba(255,255,255,0.93);
	padding: 5%;
	line-height: 20pt;
	border: 3px solid #257985;
}

#copyright {
	text-align: center;
	position: fixed;
	bottom: 1%;
	left: 2.25%;
	font-size: 15px;
}